.deleteq {
  color: black;
  background-color: white;
}

.andu {
  border: black;
  background-color: grey;
  width: 500px;
}

#two {
  background-color: greenyellow;
  color: whitesmoke;
}

#three {
  background-color: greenyellow;
  color: whitesmoke;
}
