.deleteq {
  color: black;
  background-color: white;
}

.andu {
  border: black;
  background-color: grey;
  width: 500px;
}

#two {
  background-color: white;
  color: crimson;
}


#three {
  background-color: white;
  color: black;
}
