.deleteq {
  color: snow;
  background-color: teal;
}

.mamie {
  border: black;
  background-color: grey;
  width: 700px;
}

#two {
  background-color: teal;
  color: snow;
}

#three {
  background-color: teal;
  color: snow;
}
